<%= form_for(@user) do |f| %>

  <%= render "shared/erros", objeto: f.object %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :cidade %><br>
    <%= f.collection_select :cidade_id, @cidades, :id, :nome,
      { prompt: "Selecione uma cidade" } %>
  </div>

  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
